<div class="blog-post">
	            <h2 class="blog-post-title"><%= raw @article.title %></h2>

	            <p class="blog-post-meta"><%= @article.created_at.strftime("%b %d, %Y") %></p>
	            <p><%= raw simple_format(@article.text) %> </p>

	            
        </div><!-- /.blog-post -->
 
<h2 class="comments-count"><%=@article.comments.count%> Comments</h2>
<%= render @article.comments.reverse%>
 
<%= render "comments/form" %>