<div class="blog-post">
	<h1 class="blog-post-title-showpage text-center"><%= raw @article.title %></h1>
  <p class="blog-post-meta text-center">  <i>by Eduado Poleo at <%= @article.created_at.strftime("%b %d, %Y") %></i></p>
  <div class ='badges-container text-center'>
    <% @article.categories.each do |cat| %>
      <span class='badge'><%=link_to cat.name, category_path(cat) %></span>
    <% end %>
  </div>
  <p class='text-center'> <%=link_to '...back to articles', articles_path %> </p>
  <p><%= markdown @article.text %> </p>
</div><!-- /.blog-post -->

<%= link_to "Back to Articles...", articles_path%> 
 
<%= render "comments/disqus" %>
